footer{
  background-color: #f2dede;
  width: 100%;
  bottom: 0;
  position: fixed;
  color: #a94442;
  border-top: solid 1px #a94442;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
#balloonContent{
  min-width: 180px;
  align-content: center;
}
/*search box*/
.input-group .form-control {
  width: 30%;
  margin-top: 1px;
  min-width: 300px;
}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
