.containerUser{
  padding: 100px 0px 0px 20px;
}
.controlsPassword input{
  margin-bottom: 10px;
}

.thumbnail-preview{
  max-width: 200px;
  max-height: 200px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
