<div class="container">
  <h2 class="page-header hrDarker" translate>Reset Password</h2>

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert" ng-show="errorMessage">
        {{errorMessage}}
      </div>
    </div>
  </div>

  <form novalidate ng-submit="submittted = true" ng-show="confirmed" name="frm">
    <div class="row">
      <div class="col-md-6">
        <password-meter ng-model="user.password"></password-meter>
      </div>

      <div class="col-md-6">
        <label for="passwordConfirmation" translate>Confirm New Password:</label>
        <input type="password" id="passwordConfirmation" class="form-control" ng-model="user.passwordConfirmation" ng-minlength="8" required/>
      </div>
    </div>

    <hr class="hrDarker" />

    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary" ng-click="resetPassword()" ng-disabled="frm.$invalid" translate>Reset Password</button>
      </div>
    </div>
  </form>
</div>
