#modal-stream {
  text-align: center;
  .modal-content {
    color: #ffffff;
    background-color: #182a40;
    padding: 10px 0px 10px 0px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 60px;
  }
}
