<div class="navbar navbar-default navbar-static-top">
  <nav class="container-fluid">
    <form class="navbar-form navbar-left" role="search">
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1">  </span>
        <input type="text" ng-model="searchString" ng-change="filterUsers()" class="form-control search-realtime"
               placeholder="{{'Type to filter the users in the map' | translate }}..." aria-describedby="basic-addon1">
      </div>
    </form>

  </nav>
</div>

<button id="fetchUsers" ng-click="refreshUsers()" title="Show all connected officers" translate>
  All Officers
</button>

<div ui-map="myMap" ui-options="mapOptions" class="map-container"></div>

<div id="realtimeMapConnectionBar" class="alert alert-danger text-center" role="alert">
  <strong>
    <!--<i class="glyphicon glyphicon-exclamation-sign"></i>-->
    Connection Lost!
  </strong>
  <span class="barSpacer">|</span>
  Trying to reconnect...
  <!--Attempt #<span id="realtimeMapConnectionBarAttempts"></span>-->
</div>

<script type="text/ng-template" id="balloon.html">
  <div id="balloonContent" ui-map-info-window="userWindow" ng-show="currentUser">
    <div>
      <img ng-src="{{currentUser.picture}}" ng-class="{streaming: isStreaming(currentUser)}"/><br/>

      <p class="userName" data-toggle="tooltip" data-placement="bottom" title="{{currentUser.userName}}">{{currentUser.userName}}</p>

      <p class="battery-info">
        <span ng-show="currentUser.batteryPercentage">
          {{currentUser.batteryPercentage}}% <span translate>Battery</span>
        </span>
        <span ng-hide="currentUser.batteryPercentage">
          <span translate>No battery information</span>
        </span>
      </p>

      <div class="btn-group">
        <a class="btn btn-default btn-block view-history" ng-if="true" ng-click="goToUser(currentUser)" translate>View history</a>
        <a class="btn btn-default btn-block"
           ng-class="{waiting: waitingStreaming, stream: !waitingStreaming}" ng-click="requestStream(currentUser)"
           ng-if="!activeStreams[currentUser.userId]" ng-bind="streamButtonText"></a>
      </div>
    </div>
  </div>
</script>
