#balloonContent{
  text-align: center;
  width: 230px;
  height: 230px;
  min-height: 230px;
  img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px;
    margin: 5px;
  }
  img.streaming{
    border: solid #4e9a10;
  }
  strong{
    font-size: 1.5em;
  }
  a{
    color: #ffffff;
    text-transform: uppercase;

    height: 40px;
    line-height: 25px;
  }
  a.view-history {
    background: #2f88d1;
  }
  a.stream{
    background: #4e9a10;
  }
  a.offline,a.waiting{
    background: #bcbcbc;
    color: #dddddd;
  }
  div.btn-group{
    width: 95%;
  }
  .gm-style-iw{
    width: inherit !important;
  }
  p.battery-info{
    color: red;
    font-size: 1.1em;
  }
}

div.navbar{
  background-color: #FFF;
  border-bottom: #C1C1C1 solid 2px;
  input.search-realtime{
    width: 250px  !important;
  }
}
footer{
  background-color: #f2dede;
  width: 100%;
  bottom: 0;
  position: fixed;
  color: #a94442;
  border-top: solid 1px #a94442;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
/*search box*/
//.input-group .form-control {
//  width: 30%;
//  margin-top: 1px;
//  min-width: 300px;
//}

.error-message{
  color: red;
}
