#balloonContent {
  text-align: center;
  width: 230px;
  height: 230px;
  min-height: 230px;

  img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px;
    margin: 5px;

    &.streaming{
      border: solid #4e9a10;
    }
  }

  .userName {
    font-size: 1.5em;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
  }

  a {
    color: #ffffff;
    text-transform: uppercase;
    height: 40px;
    line-height: 25px;

    &.view-history {
      background: #2f88d1;
    }

    &.stream {
      background: #4e9a10;
    }

    &.offline,
    &.waiting {
      background: #bcbcbc;
      color: #dddddd;
    }
  }

  div.btn-group{
    width: 95%;
  }

  .gm-style-iw{
    width: inherit !important;
  }

  p.battery-info{
    color: red;
    font-size: 1.1em;
  }
}

div.navbar{
  background-color: #FFF;
  border-bottom: #C1C1C1 solid 2px;

  input.search-realtime{
    width: 250px  !important;
  }

  .input-group-addon.glyphicon {
    top: 0;
  }
}

footer{
  background-color: #f2dede;
  width: 100%;
  bottom: 0;
  position: fixed;
  color: #a94442;
  border-top: solid 1px #a94442;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

/*search box*/
//.input-group .form-control {
//  width: 30%;
//  margin-top: 1px;
//  min-width: 300px;
//}

.error-message{
  color: red;
}

#realtimeMapConnectionBar {
  display: none;
  width: 90%;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%,0);
  border-color: #843534;

  .barSpacer {
    display: inline-block;
    height: 1px;
    margin: 0 15px;
  }
}

#fetchUsers {
  direction: ltr;
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
  text-align: center;
  color: rgb(86, 86, 86);
  line-height: 1.42857;
  -webkit-user-select: none;
  position: absolute;
  top: 120px;
  left: 110px;
  z-index: 1;
  min-width: 96px;
  padding: 8px;
  border: 0;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  overflow: hidden;
  outline: 0;

  transition: font-weight .5s;

  &:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 235, 235);
  }

  &.active {
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
}
