<div class="containerUser">
    <h1 translate>User details</h1>

    <form novalidate class="form-horizontal" ng-submit="submittted = true" name="frm">
        <alert ng-show="serverMessage">
          <p>
            {{serverMessage}}
          </p>
        </alert>
        <div class="control-group">
            <label class="control-label" for="inputName" translate>Name:</label>
            <div class="controls">
                <input type="text" id="inputName" ng-model="user.name" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputName" translate>Group:</label>
            <div class="controls">
                <select ng-options="group.id as group.name for group in groups" ng-model="user.groupId" required>
                </select>
            </div>
        </div>
        <div class="control-group" >
          <label class="control-label" for="inputIsAdmin" translate>Is Admin?</label>
          <div class="controls">
            <input type="checkbox" id="inputIsAdmin" ng-model="user.isAdmin"/>
          </div>
        </div>
        <div class="control-group" ng-show="user.isAdmin">
          <label class="control-label" for="inputName" translate>Role:</label>
          <div class="controls">
            <select ng-options="role  for role in roles" ng-model="user.role" ng-required="user.isAdmin">
            </select>
          </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUsername" translate>Username:</label>
            <div class="controls">
                <input type="text" id="inputUsername" ng-model="user.username" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail" translate>Email:</label>
            <div class="controls">
                <input type="text" id="inputEmail" ng-model="user.email" required/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputPassword" translate>Password:</label>
            <div class="controls">
                <input type="password" id="inputPassword" ng-model="user.password" required ng-minlength="6"/>
            </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="language" translate>Preferred language:</label>
          <div class="controls">
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" required id="language" value="pt_BR" ng-model="user.language" checked><img src="../assets/images/br-icon.png">
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" required id="language" value="en" ng-model="user.language"><img src="../assets/images/us-icon.png">
            </label>

          </div>
        </div>

      <div class="control-group">
            <div class="controls" >
              <br><br>
                <!-- user-creation.html: -->
              <button ng-disabled="frm.$invalid" ng-click="createNewUser()" class="btn btn-small btn-primary" translate>create new user</button>
              <br><br>
            </div>
        </div>
    </form>
</div>
