<div class="container">
  <h2 class="page-header hrDarker" translate>User details</h2>
  <div class="row">

    <!--<div class="col-md-4">-->
      <!--<h4 class="userFormGroupSubHeader">Change picture: <i class="glyphicon glyphicon-info-sign markInfo" data-toggle="tooltip" data-placement="bottom" title="Please, give preference to PNG, GIF of TIF files, so we can make it more beautiful and rounded!"></i></h4>-->
      <!--<div class="userPhoto" ngf-select ng-model="files"-->
           <!--ngf-multiple="false" ngf-allow-dir="true"-->
           <!--ng-disabled="!canUpdate()" ngf-accept="'image/*'">-->
        <!--<div class="userPhotoOverlay">-->
          <!--<i class="glyphicon glyphicon-camera"></i>-->
        <!--</div>-->
        <!--&lt;!&ndash;<img ng-src="https://market.ionic.io/img/user-default.png">&ndash;&gt;-->
        <!--<img ng-show="hasProfilePicture" ng-src="{{pictureUrl}}">-->
      <!--</div>-->
    <!--</div>-->

    <div class="col-md-12">
      <h4 class="userFormGroupSubHeader">Account Settings:</h4>

      <form novalidate name="frmUpdate">
        <div ng-show="serverMessage" class="alert alert-danger">
          <p>
            {{serverMessage}}
          </p>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="inputName" translate>Name:</label>
            <input type="text" class="form-control" id="inputName" ng-model="user.name" required ng-disabled="!canUpdate()"/>
          </div>

          <div class="col-md-4">
            <label for="inputUsername" translate>Username:</label>
            <input type="text" class="form-control" id="inputUsername" ng-model="user.username" required ng-disabled="!canUpdate()"/>
          </div>

          <div class="col-md-4">
            <label for="inputEmail" translate>Email:</label>
            <input type="text" class="form-control" id="inputEmail" ng-model="user.email" required ng-disabled="!canUpdate()"/>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-4">
            <label for="inputName" translate>Group:</label>
            <select class="form-control" ng-options="group.id as group.name for group in groups" ng-model="user.groupId" required ng-disabled="!canUpdate()"></select>
          </div>

          <div class="col-md-4" ng-show="canEditAdmin()">
            <label>&nbsp;</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="user.isAdmin" ng-disabled="!canUpdate()" i-check/>
                <span translate>Is Admin?</span>
              </label>
            </div>
          </div>

          <div class="col-md-4" ng-show="user.isAdmin">
            <label for="inputName" translate>
              Role:
              <i class="glyphicon glyphicon-question-sign"
                 data-toggle="popover"
                 data-placement="{{ isMobile ? 'top' : 'left'}}"
                 data-trigger="click"
                 title="Roles explanation"
                 data-content="{{ 'ROLE_TIP' | translate }}"></i>
            </label>
            <select class="form-control" ng-options="role  for role in roles" ng-model="user.role" ng-required="user.isAdmin" ng-disabled="!canUpdate()"></select>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-4" ng-hide="user.isSelf">
            <div class="checkbox">
              <label data-toggle="tooltip" data-placement="bottom" title="disabling this field will prevent this user from accessing the system.">
                <input type="checkbox" ng-model="user.isEnabled" ng-disabled="!canUpdate()" i-check/>
                <span translate>Is Enabled?</span>
                <i class="glyphicon glyphicon-exclamation-sign markWarn"></i>
              </label>
            </div>
          </div>

          <div class="col-md-4">
            <label translate>Preferred language:</label>
            <div class="radio">
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" required value="pt_BR" ng-model="user.language" ng-disabled="!canUpdate()" i-check>
                <img src="../assets/images/br-icon.png">
              </label>
              <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" required value="en" ng-model="user.language" ng-disabled="!canUpdate()" i-check>
                <img src="../assets/images/us-icon.png">
              </label>
            </div>
          </div>
        </div>

        <hr class="hrDarker" />

        <div class="row">
          <div class="col-md-12">
            <button ng-disabled="frmUpdate.$invalid || !canUpdate()" ng-click="updateUser()" class="btn btn-small btn-primary" translate>update user</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-12">
      <h4 class="userFormGroupSubHeader">Change Password:</h4>

      <div class="row">
        <form novalidate="novalidate">
          <div class="col-md-4">
            <label for="currentPassword" translate>Current Password:</label>
            <input type="password" class="form-control" id="currentPassword" ng-model="currentPassword" required ng-minlength="8" ng-disabled="!canUpdate()"/>
          </div>

          <div class="col-md-4">
            <label for="inputPassword" translate>New Password:</label>
            <input type="password" class="form-control" id="inputPassword" ng-model="newPassword" required ng-minlength="8" ng-disabled="!canUpdate()"/>
            <meter max="5" id="password-strength-meter"></meter>
            <small translate>- Minimum 8 digits.</small>
            <span id="password-strength-text" class="pwdStrong"></span>
          </div>

          <div class="col-md-4">
            <label for="passwordConfirmation" translate>Repeat your password:</label>
            <input type="password" class="form-control" id="passwordConfirmation" ng-model="passwordConfirmation" required ng-minlength="8" ng-disabled="!canUpdate()"/>
            <span ng-if="passwordMessage" class="errorMessage">{{passwordMessage}}</span>
          </div>
        </form>
      </div>

      <hr class="hrDarker" />

      <div class="row">
        <div class="col-md-12">
          <a ng-click="changePassword()" ng-disabled="!canUpdate()" class="btn btn-small btn-warning" translate>change password</a>
        </div>
      </div>
    </div>
  </div>

  <hr class="hrDarker" />

  <div class="row">
    <div class="col-md-12">
      <a ng-click="back()" class="btn btn-default" translate>back</a>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();

    setTimeout(function(){
      $('[data-toggle="popover"]')
        .popover({ container: 'body', html: true })
        .on('show.bs.popover', function(){ $(this).data('bs.popover').tip().css('max-width', '600px'); });
    }, 100);
  });

//  $('input').iCheck({
//    checkboxClass: 'icheckbox_square-blue',
//    radioClass: 'iradio_square-blue',
//    increaseArea: '20%' // optional
//  });
//
//  setTimeout(function(){
//    $('input').iCheck('update');
//  }, 500);

  var strength = {
    1: "Worst",
    2: "Bad",
    3: "Weak",
    4: "Good",
    5: "Strong"
  };

  var meter = $('#password-strength-meter');
  var text = $('#password-strength-text');
  text.hide();

  $('#inputPassword').keyup(function(){
    var $self = $(this);
    var password = $self.val();
    var result = zxcvbn(password);

    if (password !== "") {
      meter.val(result.score + 1);
      text.text(strength[result.score + 1]).fadeIn();
    } else {
      meter.val(0);
      text.fadeOut();
      setTimeout(function(){
        text.text("");
      }, 500);
    }
  });
</script>
