<!--<div class="containerUser">-->
<div class="container">
  <h1 class="page-header" style="border-color: #DDDDDD;" translate>User details</h1>

  <form novalidate ng-submit="submittted = true" name="frm">
    <div ng-show="serverMessage" class="alert alert-danger">
      <p>
        {{serverMessage}}
      </p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="inputName" translate>Name:</label>
        <input type="text" class="form-control" id="inputName" ng-model="user.name" required/>
      </div>

      <div class="col-md-4">
        <label for="inputUsername" translate>Username:</label>
        <input type="text" class="form-control" id="inputUsername" ng-model="user.username" required/>
      </div>

      <div class="col-md-4">
        <label for="inputEmail" translate>Email:</label>
        <input type="text" class="form-control" id="inputEmail" ng-model="user.email" required/>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4">
        <label for="inputName" translate>Group:</label>
        <select class="form-control" ng-options="group.id as group.name for group in groups" ng-model="user.groupId" required></select>
      </div>

      <div class="col-md-4" ng-show="canCreateAdmin()">
        <div class="checkbox">
          <label translate>
            <input type="checkbox" ng-model="user.isAdmin"/> Is Admin?
          </label>
        </div>
      </div>

      <div class="col-md-4" ng-show="user.isAdmin">
        <label for="inputName" translate>Role:</label>
        <select class="form-control" ng-options="role  for role in roles" ng-model="user.role" ng-required="user.isAdmin"></select>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-4">
        <label for="inputPassword" translate>Password:</label>
        <input type="password" class="form-control" id="inputPassword" ng-model="user.password" required ng-minlength="8"/>
        <meter max="4" id="password-strength-meter"></meter>
        <small translate>- Minimum 8 digits.</small>
        <span id="password-strength-text" class="pwdStrong"></span>
      </div>

      <!--<div class="col-md-4">-->
        <!--<p id="password-strength-text"></p>-->
      <!--</div>-->

      <div class="col-md-4">
        <label for="language" translate>Preferred language:</label>
        <div class="controls">
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" required id="language" value="pt_BR" ng-model="user.language" checked><img src="../assets/images/br-icon.png">
          </label>
          <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" required id="language" value="en" ng-model="user.language"><img src="../assets/images/us-icon.png">
          </label>
        </div>
      </div>
    </div>

    <hr style="border-color: #DDDDDD;" />

    <div id="actions" class="row">
      <div class="col-md-12">
        <button ng-disabled="frm.$invalid" ng-click="createNewUser()" class="btn btn-small btn-primary" translate>create new user</button>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  var strength = {
    0: "Worst",
    1: "Bad",
    2: "Weak",
    3: "Good",
    4: "Strong"
  };

  var meter = $('#password-strength-meter');
  var text = $('#password-strength-text');
  text.hide();

  $('#inputPassword').keyup(function(){
    var $self = $(this);
    var password = $self.val();
    var result = zxcvbn(password);

    meter.val(result.score);

    if (password !== "") {
      text.text(strength[result.score]).fadeIn();
    } else {
      text.fadeOut();
      setTimeout(function(){
        text.text("");
      }, 500);
    }
  });
</script>
