<div class="error-template cg-notify-message" ng-click="$close()" ng-class="[$classes,
    $position === 'center' ? 'cg-notify-message-center' : '',
    $position === 'left' ? 'cg-notify-message-left' : '',
    $position === 'right' ? 'cg-notify-message-right' : '']"
     ng-style="{'margin-left': $centerMargin}">


  <style>
    .error-template {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
  </style>

  <div ng-show="!$messageTemplate">
    {{$message}}
  </div>

  <div ng-show="$messageTemplate" class="cg-notify-message-template">

  </div>

</div>
