<div class="containerUser">
    <h1 translate>Are you sure to delete this user?</h1>
    <div class="col-md-4">
        <form novalidate="novalidate" class="form-horizontal">
            <alert ng-show="serverMessage">
                <li ng-repeat="(key, value) in serverMessage">
                    {{value[0]}}
                </li>
            </alert>
          <div class="control-group">
            <label class="control-label" for="inputName" translate>Name:</label>
            <div class="controls">
              {{user.name}}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputName" translate>Group:</label>
            <div class="controls">
              {{user.groupId}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputUsername" translate>Username:</label>
            <div class="controls">
              {{user.username}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputEmail" translate>Email:</label>
            <div class="controls">
              {{user.email}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputIsAdmin" translate>Is Admin?</label>
            <div class="controls">
              {{user.isAdmin}}
            </div>
          </div>

            <div class="control-group">
                <div class="controls">
                    <!-- user-detail.html: -->
                    <a ng-click="cancel()" class="btn btn-default" translate>cancel</a>
                    <a ng-click="deleteUser()" class="btn btn-small btn-danger" translate>delete user</a>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4">

            <label class="control-label" ng-show="hasProfilePicture" translate>Profile picture</label>
            <div ng-show="hasProfilePicture">
                <img ng-src="{{pictureUrl}}" height="250">
            </div>

    </div>
</div>
