<div class="container">
  <h2 class="page-header hrDarker" translate>New Videos Export</h2>

  <form novalidate="novalidate" id="videoExportForm" class="form-horizontal" name="frm">
    <div ng-show="serverMessage" class="alert alert-danger">
      <p>
        {{serverMessage}}
      </p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label translate>Name:</label>
        <select ng-options="user.id as user.name for user in users" ng-required="true"
                ng-model="exportObj.recorderId"
                required class="form-control"></select>
      </div>

      <div class="col-md-6">
        <label translate>Date:</label>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-calendar"></span>
          <input type="date" datepicker-options="{customClass: 'datepicker-filter'}" class="form-control"
                 ng-model="exportObj.initialDate" ng-model-options="{ debounce: 500 }"
                 uib-datepicker-popup is-open="exportObj.initialDateVisible"
                 ng-required="true" required show-button-bar="false" show-weeks="false"
                 ng-click="exportObj.initialDateShow()"/>
        </div>
      </div>
    </div>

    <hr class="hrDarker" />

    <div class="alert alert-warning" translate ng-show="resultEmpty">There are no videos for the user and period chosen.</div>
    <div class="alert alert-success" ng-show="resultSuccess">
      <span translate>The videos are being generated. We will send you an e-mail when we are done!</span>
      <a translate ng-href="#/exports">Go back to the export list</a>
    </div>

    <div class="row">
      <div class="col-md-12" ng-hide="resultSuccess">
        <a ng-href="#/exports" class="btn btn-default" translate>Back</a>
        <button type="submit" class="btn btn-primary" ng-click="createExport()">Filter</button>
      </div>
    </div>
  </form>
</div>
