@mixin user-avatar(
  $width: 42px,
  $height: 42px,
  $float: left,
  $borderSize: 2px,
  $borderType: solid,
  $borderColor: #FFFFFF,
  $borderRadius: 50%,
  $marginTop: 3px,
  $marginRight: 10px,
  $marginBottom: auto,
  $marginLeft: auto
) {
  width: $width;
  height: $height;
  float: $float;
  border: #{$borderSize} #{$borderType} #{$borderColor};
  border-radius: $borderRadius;
  background: url(/assets/images/badges_square/user.png) center/contain no-repeat;
  margin: #{$marginTop} #{$marginRight} #{$marginBottom} #{$marginLeft};

  &.group {
    background-image: url(/assets/images/badges_square/users_group.png);
  }

  &.online {
    background-image: url(/assets/images/badges_square/user_online.png);
  }

  &.incident {
    background-image: url(/assets/images/badges_square/user_incident.png);
  }

  &.liveRequesting {
    background-image: url(/assets/images/badges_square/user_live_requesting.png);
  }

  &.liveStreaming {
    background: url(/assets/images/badges_square/user_live_streaming.png) center center no-repeat;
  }
}

.user.dropdown {
  & > .bootstrap-select {

    button {
      min-height: 34px;
      min-width: 300px;
      padding-top: 4px;
      padding-bottom: 4px;

      .user {
        height: 24px;

        .avatar {
          @include user-avatar(
            $width:24px,
            $height:24px,
            $borderSize:1px,
            $marginTop:0,
            $marginRight:5px
          );
          //float: left;
          //margin-right: 5px;
          //& > img {
          //  width: 24px;
          //  height: 24px;
          //  border: 1px solid #eee;
          //}
        }

        .info {
          padding-top: 2px;
          small {
            display: none;
          }
        }
      }
    }

    .dropdown-menu {
      max-height: 280px;
      min-width: 300px;

      a:hover {
        background-color: #0288d1;
        color: white;
      }

      .user {
        & > .avatar {
          @include user-avatar();
        }

        & > .info {
          padding: 4px 0 0 58px;
          height: 48px;
        }
      }
    }
  }
}
