.user.dropdown {
  & > .bootstrap-select {

    button {
      min-height: 34px;
      min-width: 300px;

      .user {
        height: 24px;

        .avatar {
          float: left;
          margin-right: 5px;
          & > img {
            width: 24px;
            height: 24px;
            border: 1px solid #eee;
          }
        }

        .info {
          padding-top: 2px;
          small {
            display: none;
          }
        }
      }
    }

    .dropdown-menu {
      max-height: 280px;
      min-width: 300px;

      a:hover {
        background-color: #0288d1;
        color: white;
      }

      .user {
        & > .avatar {
          width: 48px;
          height: 48px;
          float: left;
          margin-right: 10px;

          & > img {
            width: 48px;
            height: 48px;
            border: 2px solid #eee;
          }
        }

        & > .info {
          padding: 4px 0 0 58px;
          height: 48px;
        }
      }
    }
  }
}
