.history {
  margin-top: -62px;
  padding-top: 62px;
  height: 100vh;
  display: flex;
  flex-direction: column;  /***************** Player ****************/

  /*************** navbar ***************/
}
.map.canvas {
  flex: 1;
}
footer {
  width: 100%;
}
.player.window {
  width: 400px;
  height: 403px;
  margin-top: -403px;
  float: right;
  z-index: 3;
  color: #fff;
  background-color: #182A40;
  text-align: center;
}
.player.window .users.group {
  background-color: #fff;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  padding-left: 5px;
}
.player.window .avatar {
  display: inline-block;
}
.player.window .avatar > img {
  width: 54px;
  height: 54px;
  margin: 8px 2px 6px 4px;
  opacity: 0.5;
}
.player.window .avatar > img.active {
  opacity: 1;
}
.player.window .user.selected {
  margin: 8px;
}
.player.window .scene {
  overflow-x: hidden;
}
.player.window .time {
  font-size: 1.5em;
  margin-top: 5px;
}
head {
  height: 110px;
}
.navbar {
  padding: 7px 20px 0 0;
  color: #777777;
}
.navbar .form-inline input, .navbar .form-inline select {
  color: #777777;
  width: auto;
}
.navbar .form-inline label {
  font-weight: 300;
}
.navbar .form-inline .divider {
  margin-left: 30px;
  margin-right: 50px;
  !important
}
.navbar .glyphicon {
  vertical-align: middle;
}
.navbar-center {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}
