.history {
  margin-top: -62px;
  padding-top: 62px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .map.canvas {
    flex:1;
  }

  /*************** navbar ***************/
  header {

    &.navbar {
      padding: 7px 20px 0 0;
      background-color: #FFF;
      border-bottom: #C1C1C1 solid 2px;

      .form-inline {
      }

      .form-inline input,
      .form-inline select {
        width: auto;
      }

      .form-inline label, .bootstrap-select > button {
        font-size: 12pt;
        font-weight: 500;
        color: #4C4C4C;
      }

      .form-inline .divider {
        margin-left: 30px;
      }

      .glyphicon {
        vertical-align: middle;
      }
    }
  }

  footer {
    height: 130px;
    width: 100%;
  }

  .navbar-center {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
  }
}
