.modal-login{
  text-align: center;
  .modal-dialog{
    width: 300px;
    margin: 0 auto;
  }
  input{
    background-color: #2e3e52;
    color: #FFFFFF;
    margin-bottom: 3px;
    height: 35px;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 180px;
    text-align: center;
  }
  .modal-content{
    color: #ffffff;
    margin: 0px;
    width: 300px;
    background-color: #182a40;
    padding: 10px 0px 10px 0px;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
  button{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 180px;
  }
  a{
    color: #FFFFFF;
  }
  img{
    margin-top: 10px;
  }
  h2{
    margin-top: 5px;
  }
  form{
    width: 200px;
    position: relative;
    height: auto;
    padding: 10px;
    margin: 0 auto;

  }
  .errorMessage::before {
    content: url('/assets/images/x.png');
    padding-right: 5px;
  }
  .errorMessage {
    color: #e8abac;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .emailMessage::before {
    content: "\2713";
    padding-right: 5px;
  }
  .emailMessage{
    color: #afefaf;
    font-weight: bold;
    padding-bottom: 5px;
  }
}


