<div class="container-crud">
  <h1>New group</h1>
  <hr/>
  <form novalidate="novalidate" class="form-horizontal">
    <alert ng-show="serverMessage">
      <li >
        {{serverMessage}}
      </li>
    </alert>
    <div class="control-group">
      <label class="control-label" for="inputName">Name:</label>
      <div class="controls">
        <input type="text" id="inputName" ng-model="group.name"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputLatitude">Latitude:</label>
      <div class="controls">
        <input type="number" id="inputLatitude" ng-model="group.lat" ng-change="changeMapCenter()"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputLongitude">Longitude:</label>
      <div class="controls">
        <input type="number" id="inputLongitude" ng-model="group.lng" ng-change="changeMapCenter()"/>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputIsAdmin">Is Admin?</label>
      <div class="controls">
        <input type="checkbox" id="inputIsAdmin" ng-model="group.isAdmin"/>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <!-- group-creation.html: -->
        <a ng-click="createGroup()" class="btn btn-small btn-primary">create new group</a>
      </div>
    </div>
  </form>
</div>
