<div class="segment">
  <div class="time" ng-bind-html="timeLabel"></div>
  <div class="time last" ng-bind-html="nextTimeLabel()" ng-if="last"></div>
  <div class="line"></div>

  <div class="activities"
    style="left: {{getLocationPosition(activityLocations[0])}}px;
           width: {{getLocationPosition(activityLocations[1]) - getLocationPosition(activityLocations[0])}}px;"
    ng-click="selectPosition($event, activityLocations[0]);"
    ng-repeat="(key, activityLocations) in activities.getMap()">
    <div class="line">
    </div>
  </div>

  <div class="incidents"
       style="left:{{getLocationPosition(incident)-25}}px;"
       ng-repeat="incident in getIncidentsInThisDay()">
    <div class="vertical-line"></div>
    <img src="/assets/images/incident.png"/>
  </div>
</div>
