<div class="segments">
  <div class="selected line" style="left: {{selectedPosition}}px;">
    <img src="assets/images/scrubber.png">
  </div>
  <div class="date segments" ng-repeat="(key, activitiesByHour) in activitiesByDay.getMap()">
    <!--
    <div class="start segment" ng-if="$first">
      <div class="line"></div>
    </div>
    -->

    <div class="gap segment">
      <div class="first date" ng-bind-html="$first ? '' : getPreviousDateLabel(key)"></div>
      <div class="last date" ng-bind-html="getCurrentDateLabel(key)"></div>
      <div class="line"></div>
      <div class="box"></div>
    </div>

    <timeline-segment
      activities="activities"
      hour="hour"
      day="key"
      incidents-by-day="userData.incidentsByDay"
      last="$last"
      ng-repeat="(hour, activities) in activitiesByHour.getMap()">
    </timeline-segment>

    <div class="end segment" ng-if="$last">
      <div class="line"></div>
    </div>
  </div>
</div>
