$segment-width: 200px;
$active-line-color: #11990A;
$date-color: #11990A;

.nav {
  &.timeline {
    margin-right: 400px;

    & > .container {
      height: 130px;
      width: 100%;
      position: relative;
      padding: 50px 0 0 0;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;


      & > .segment {
        height: 50px;
        width: $segment-width;
        display: inline-block;
        margin-left: -4px;

        &.start {
          border: none;
        }

        &.start, &.end {
          width: 30px;
          & > .line {
            width: 30px;
          }
        }

        & > .line {
          height: 17px;
          width: $segment-width;
          padding-top: 8px;
          position: absolute;
          border-left: 2px solid #ddd;

          hr {
            margin: 0 0;
            border-top: 2px solid #ddd;
          }
        }

        & > .active.line {
          width: initial;
          border: none;
          position: absolute;
          z-index: 1;

          & > div {
            border-top: 2px solid $active-line-color;
            position: relative;

            &::before,
            &::after {
              position: absolute;
              content: ' \25CF';
              font-size: 22px;
              color: $active-line-color;
              top: -19px;
            }

            &::before {
              left: -6px;
              cursor: pointer;
            }

            &::after {
              right: -7px;
              cursor: pointer;
            }

            .location {
              display: inline-block;
              width: 1px;
              height: 9px;
              top: -12px;
              position: relative;
              cursor: pointer;
            }
          }
        }

        & > .date, & > .time {
          width: 40px;
          position: absolute;
          color: #c2c2c2;
          text-align: center;
        }

        & > .date {
          height: 16px;
          margin-top: -15px;
          margin-left: -20px;
          color: $date-color;
          font-size: 0.8em;
        }

        & > .time {
          height: 20px;
          margin-top: 16px;
          margin-left: -19px;
          font-size: 1.3em;
          font-weight: 300;
        }

      } /* End Segment */
    } /* End Container */
  } /* End Timeline */
} /* End nav */
