<div class="container-crud">
  <div class="pull-right" ></div>
  <div class="control-group">
    <h1>Incident Forms</h1>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputName" translate>User:</label>
    <div class="controls">
      <input type="text" id="inputUserId" ng-model="userId"/>
    </div>
  </div>  <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;" translate>date</th>
            <th style="min-width: 80px;" translate>username</th>
            <th style="min-width: 80px;" translate>address</th>
            <th style="width:20px;" > </th>
            <th style="width:20px;" > </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="incident in incidentForms  | filter:userId" >
            <td>{{ incident.date | date:'yyyy-MM-dd' }}</td>
            <td>{{ incident.userId }}</td>
            <td>{{ incident.address }}</td>
            <td><a ng-click="viewIncident(incident.id)" class="btn btn-small btn-primary"  translate>view</a></td>
        </tr>
        </tbody>
    </table>

</div>
