/*
 * Copcast - Video Player
 * 19/05/2016
 * Arthur Vasconcelos <vasconcelos.arthur@gmail.com>
 */

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

.copcastHistoryVideoPlayer {
  text-align: center;
  color: #fff;
  width: 400px;
  //height: 370px;
  max-height: 524px;
  //background-color: #182A40;
  background-color: #000;
  position: fixed;
  right: 0;
  bottom: 129px;
  //margin-bottom: 130px;
  padding: 0 0;
  z-index: 3;
  @include transition(all 0.8s);
  overflow: hidden;

  &.isClosed {
    max-height: 40px;
  }


  header {
    width: 100%;
    overflow: hidden;
    @include transition(all 0.8s);

    .activeFeed {
      width: 100%;
      height: 40px;
      background: #172a40;

      p {
        font-size: 16px;
        line-height: 40px;
        padding: 0;
        margin: 0;

        .groupOfficers, .groupIncidents {
          font-size: 12px;
        }

        .groupOfficers { color: #959da7; margin-left: 5px; }
        .groupIncidents { color: #e26055; }
      }
    }

    .officersList {
      list-style: none;
      position: relative;
      width: 100%;
      max-height: 122px;
      overflow: hidden;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;
        line-height: 40px;
        width: 100%;
        height: 40px;
        background: #1d3951;
        border-bottom: 1px solid #172a40;
        cursor: pointer;

        .officerChest {
          text-align: left;
          margin: 0 auto;

          .officerKey { color: #9caab9; margin-right: 7px; }
          .officerName { font-weight: bold; }
          .officerIncidents {
            font-size: 9px;
            text-align: center;
            line-height: 16px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: #e26055;
            border-radius: 50%;
            margin-left: 7px;
          }
        }


        &:last-child { border: none; }

        &.active {
          background: #274866;
        }
      }
    }
  }

  .videoContainer {
    width: 100%;
    @include transition(all 0.8s);

    .noVideo {
      font-size: 80px;
      color: rgba(255,255,255,.4);
      position: relative;
      width: 100%;
      height: 300px;

      .warning{
        width: 72px;
        height: 64px;
        background: url('/assets/images/warning.png') no-repeat;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .warning-description{
        font-size: 14px;
        color: #797979;
        position: absolute;
        top: 56%;
        left: 15%;
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    .cover {
      text-align: center;
      width: 100%;
      height: 300px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      img {
        height: 300px;
      }

      .wantSee {
        font-size: 35px;
        text-align: center;
        line-height: 80px;
        width: 80px;
        height: 80px;
        border: 4px solid #FFFFFF;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: .5;
        @include transition(opacity 0.8s);
      }

      &:hover {
        .wantSee {
          opacity: 1;
        }
      }
    }

    .muteAlert {
      font-size: 11px;
      color: #8d8d8d;
      line-height: 22px;
      position: relative;
      width: 100%;
      height: 22px;
      background: #121213;

      a {
        color: #8d8d8d;
        position: absolute;
        top: 1px;
        right: 5px;
      }
    }

    .scene {
      font-size: 0;
      line-height: initial;
      position: relative;

      .controls {
        width: 0;
        height: 0;

        .clock {
          position: absolute;
          font-size: 17px;
          letter-spacing: 0;
          top: 10px;
          left: 10px;

          user-select: none;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          -o-user-select: none;
        }

        .icons {
          position: absolute;
          cursor: pointer;

          &.fullscreen {
            top: 14px;
            right: 11px;
            font-size: 19px;
          }
        }

        $speeds-width: 25px;

        .speeds {
          width: $speeds-width;
          position: absolute;
          top: 50px;
          right: 8px;

          .speed {
            font-size: 9px;
            text-align: center;
            line-height: $speeds-width;
            width: $speeds-width;
            height: $speeds-width;
            border: 1px solid #FFFFFF;
            border-radius: 30%;
            background: rgba(141,141,141,.5);
            margin-bottom: 5px;
            opacity: .5;
            cursor: pointer;
            @include transition(opacity 0.8s);

            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              opacity: 1;
            }

            &:hover:not(.active) {
              opacity: .75;
            }


          }
        }

        .player-progress-bar {
          position: absolute;
          bottom: 15px;
          left: 10px;

          .play-pause {
            font-size: 15px;
            width: auto;
            height: auto;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 2px;
            cursor: pointer;
          }

          .player-progress {
            width: 350px;
            height: 7px;
            display: inline-block;
            position: relative;
            cursor: pointer;
            //background: rgba(23,42,64,1); /* fallback */
            background: #172A40; /* fallback */
            //box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 1px rgba(0,0,0,1);
            border-radius: 10px;

            span:not(.dragger) {
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              border-radius: 10px;

              &.timeBar{
                z-index: 10;
                width: 0;
                //background: -webkit-linear-gradient(top, rgba(107,204,226,1) 0%, rgba(29,163,208,1) 100%);
                background: #2487C9;
                box-shadow: 0 0 7px rgba(107,204,226,.5);
              }

              &.bufferBar{
                z-index: 5;
                width: 0;
                //background: rgba(255,255,255,0.2);
                background: #1D3951;
              }
            }

            .dragger {
              display: block;
              width: 12px;
              height: 12px;
              background: #FFF;
              border-radius: 50%;
              position: relative;
              top: -2.5px;
              left: 97%;

              .dragger-timer {
                font-size: 10px;
                text-align: center;
                line-height: 30px;
                width: 0;
                height: 0;
                background: #FFFFFF;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include transition(all 0.8s);

                user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -o-user-select: none;
              }
            }

            &:hover {
              .dragger {
                .dragger-timer {
                  width: 30px;
                  height: 30px;
                  background: #172a40;
                  transform: translate(-50%,-150%);
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    position: static;
    width: 100%;
    height: 40px;
    border: none;
    background: transparent;

    $footer-button-width: 50%;

    .button {
      font-weight: bold;
      text-transform: uppercase;
      color: #FFFFFF;
      line-height: 40px;
      width: $footer-button-width;
      height: 40px;
      background: #1d3951;
      float: left;
      cursor: pointer;
      @include transition(background 0.8s);

      &.previous {
        i { margin-right: 14px; }
      }

      &.next {
        i { margin-left: 14px; }
      }

      &.disabled {
        //background: #DDDDDD;
        cursor: not-allowed;
        color: rgba(255,255,255,.4);
      }

      &:active {
        background: #274866;
      }

      &:hover:not(.disabled) {
        background: #274866;
      }
    }
  }
}
