<section class="copcastHistoryVideoPlayer" ng-class="{'isClosed': !selectedUser && !src}">
  <header>
    <div class="activeFeed">
      <p ng-show="isNone" translate>Select a group or user</p>
      <p ng-show="!isNone">
        <strong>{{ collection.name }}</strong>
        <span class="groupOfficers" ng-if="isGroup" translate>{{ collection.users.length }} Officers</span>
        <span class="groupIncidents" ng-if="isGroup" translate>{{ totalIncidents }} Incidents</span>
      </p>
    </div>

    <ul class="officersList" ng-show="isGroup">
      <li ng-repeat="(key, user) in collection.users"
          ng-class="{'active': user.id === selectedUser.id}"
          ng-click="setUser(user)">
        <div class="officerChest">
          <span class="officerKey">{{ key + 1 }}</span>
          <span class="officerName">{{ user.name }}</span>
          <span class="officerIncidents" ng-show="user.incidents">{{ user.incidents }}</span>
        </div>
      </li>
    </ul>
  </header>

  <div class="videoContainer">
    <div class="noVideo" ng-show="!src"><i class="glyphicon glyphicon-facetime-video"></i></div>

    <div class="cover" ng-show="!wantSee && src" ng-click="wantSeeAction()">
      <div class="wantSee">
        <i class="glyphicon glyphicon-play"></i>
      </div>
      <!--<img src="/assets/images/policia.png" alt="scope.nowVideo.id">-->
    </div>

    <div class="muteAlert" ng-show="wantSee && src" translate>
      Audio is automatically disabled and available only on export.
      <a href="javascript:;" class="closeMe" ng-click="closeMuteAlert()"><i class="glyphicon glyphicon-remove"></i></a>
    </div>

    <div class="scene">
      <video id="copcastVideo" width="400" height="300" controls preload="auto" ng-show="wantSee && src">
        <translate>Your browser does not support videos.</translate>
      </video>

      <div class="controls" ng-show="wantSee && src">
        <span class="clock"></span>

        <i class="icons fullscreen glyphicon glyphicon-fullscreen" title="Switch to full screen"></i>

        <div class="player-progress-bar">
          <div class="play-pause"><i class="glyphicon glyphicon-play"></i></div>
          <div class="player-progress">
            <span class="bufferBar"></span>
            <span class="timeBar">
              <span class="dragger">
                <span class="dragger-timer">0:00</span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="button previous" ng-click="previousVideo()" ng-class="{'disabled': !hasPreviousVideo}" translate>
      <i class="glyphicon glyphicon-triangle-left"></i>
      Previous
    </div>
    <div class="button next" ng-click="nextVideo()" ng-class="{'disabled': !hasNextVideo}" translate>
      Next
      <i class="glyphicon glyphicon-triangle-right"></i>
    </div>
  </footer>
</section>
