<section class="history player window" ng-class="{'nousers': !selectedUser, 'novideo': !selectedUser || !src}">
  <section class="users group">
    <div class="avatar" ng-repeat="user in group.users">
      <img
        src="{{user.profilePicture}}"
        class="img-circle"
        ng-class="{'active': selectedUser.id === user.id}"
        title="{{user.name}}"
        ng-if="user.profilePicture"
        ng-click="setUser(user)">
    </div>
  </section>
  <section class="selected user">
    <span ng-if="!selectedUser"><translate>Selecione um usuário ou grupo</translate></span>
    <span ng-if="selectedUser"><translate>Usuário selecionado:</translate> <strong>{{selectedUser.name}}</strong></span>
  </section>
  <section class="scene">
    <div class="no video" ng-if="!src" translate>Nenhum vídeo encontrado</div>
    <video width="400" height="260" controls>
    <translate>Seu navegador não suporta vídeos.</translate>
    </video>
  </section>
  <section class="time" ng-bind-html="time"></section>
  <section class="controls">
    <div>
      <div class="previous" ng-class="{'enabled': videos && videos.length > 0}" ng-click="previousVideo()">
        <div></div>
      </div>
      <div class="play img-circle" ng-class="{'enabled': selectedUser && src}" ng-click="playVideo()">
      </div>
      <div class="next" ng-class="{'enabled': videos && videos.length > 0}" ng-click="nextVideo()">
        <div></div>
      </div>
    </div>
  </section>
</section>
