.history.player.window {
  width: 400px;
  margin-top: -403px;
  padding: 0 0;
  float: right;
  z-index: 3;
  color: #fff;
  background-color: #182A40;
  text-align: center;

  .users.group {
    background-color: #fff;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    height: 62px;
    padding-top: 4px;
  }

  .avatar {
    display: inline-block;

    & > img {
      width: 54px;
      height: 54px;
      opacity: 0.5;
    }

    & > img.active {
      opacity: 1;
    }
  }

  .selected.user {
    margin: 8px;
    height: 30px;
  }

  .scene {
    overflow-x: hidden;
    overflow-y: hidden;

    .no.video {
      height: 259px;
      background-color: black;
      color: white;
      line-height: 259px;
    }
  }

  .time {
    font-size: 1.5em;
    margin-top: 5px;
  }
}
