<section class="nav timeline">
  <div class="start segment">
    <div class="line"><hr></div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line start"><hr></div>
    <div class="time">20</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line"><hr></div>
    <div class="time">21</div>
    <div class="selected"></div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line"><hr></div>
    <div class="time">22</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line end" style="max-width: 75%;"><hr></div>
    <div class="time">23</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line" style="max-width: 0%;"><hr></div>
    <div class="time">0</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line" style="max-width: 0%;"><hr></div>
    <div class="time">1</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line" style="max-width: 0%;"><hr></div>
    <div class="time">2</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line start"><hr></div>
    <div class="time">3</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line end" style="max-width: 50%;"><hr></div>
    <div class="time">4</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line" style="max-width: 0%;"><hr></div>
    <div class="time">5</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line" style="max-width: 0%;"><hr></div>
    <div class="time">6</div>
  </div>
  <div class="segment">
    <div class="line"><hr></div>
    <div class="event line" style="max-width: 0%;"><hr></div>
    <div class="time">7</div>
  </div>
  <div class="end segment">
    <div class="line"><hr></div>
    <div class="event line" style="max-width: 0%;"><hr></div>
    <div class="time">8</div>
  </div>
</section>
