<div class="container">
  <h2 class="page-header hrDarker" translate>New group</h2>

  <form novalidate="novalidate" class="form-horizontal" name="frm">
    <div ng-show="serverMessage" class="alert alert-danger">
      <p>
        {{serverMessage}}
      </p>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="inputName" translate>Name:</label>
        <input type="text" id="inputName" class="form-control" ng-model="group.name" max-length/>
      </div>

      <div class="col-md-3">
        <label for="inputLatitude" translate>Latitude:</label>
        <input type="number" id="inputLatitude" class="form-control" ng-model="group.lat"/>
      </div>

      <div class="col-md-3">
        <label for="inputLongitude" translate>Longitude:</label>
        <input type="number" id="inputLongitude" class="form-control" ng-model="group.lng"/>
      </div>

      <div class="col-md-3">
        <label>&nbsp;</label>
        <div class="checkbox">
          <label translate>
            <input type="checkbox" ng-model="group.isAdmin" i-check/> Is Admin?
          </label>
        </div>
      </div>
    </div>

    <hr class="hrDarker" />

    <div class="row">
      <div class="col-md-12">
        <a ng-click="back()" class="btn btn-default" translate>back</a>
        <button ng-disabled="frm.$invalid" ng-click="createGroup()" class="btn btn-small btn-primary" translate>create new group</button>
      </div>
    </div>
  </form>
</div>
