  <div ui-map="myMap" ui-options="mapOptions" class="map-container"></div>
  <div>
    <span class="glyphicon ">
      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1">  </span>
        <input type="text" ng-model="searchString" ng-change="filterUsers()" class="form-control" placeholder="Type to filter the map..." aria-describedby="basic-addon1">
      </div>
    </span>
  </div>

<footer ng-hide="canStream()">
  <span>
    This browser does not support live streaming visualization. Use Chrome or Firefox instead.
  </span>
</footer>

  <script type="text/ng-template" id="balloon.html">
    <div id="balloonContent" ui-map-info-window="userWindow" ng-show="currentUser">
      <div style="">
        <div style="float: left;width:80px">
          <img ng-src="{{currentUser.picture}}" style="padding-right: 5px; padding-bottom: 5px" width="80" ng-show="currentUser.picture">
        </div>
        <div style="padding-top: 20px;overflow: hidden;">
          <strong>{{currentUser.userName}}</strong><br>
          <a ng-click="goToUser(currentUser)">View history</a>

          <div ng-show="isOnline(currentUser) && canStream()">
            <div>
              <div class="btn-group">
                <a class="btn btn-primary" ng-click="requestStream(currentUser)"
                   ng-if="!activeStreams[currentUser.userId]" ng-bind="streamButtonText"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>
